<h1 style="text-align: center;">"Samsung" </h1>
<p><b>Samsung Group</b> (<i>«Самсунг Груп»</i>, <a
        href="/wiki/%D0%9A%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
        title="Корейский язык">кор.</a> <span lang="ko" style="font-size: 110%; line-height: 0;"><a
            href="/wiki/%D0%A5%D0%B0%D0%BD%D0%B3%D1%8B%D0%BB%D1%8C" title="Хангыль">삼성그룹</a></span>,<i> <a
            href="/wiki/%D0%9D%D0%BE%D0%B2%D0%B0%D1%8F_%D1%80%D0%BE%D0%BC%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%BA%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%BE%D0%B3%D0%BE_%D1%8F%D0%B7%D1%8B%D0%BA%D0%B0"
            title="Новая романизация корейского языка">Samseong Gurub</a></i>,<i> <a
            href="/wiki/%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D1%8F_%D0%9C%D0%B0%D0%BA%D0%BA%D1%8C%D1%8E%D0%BD%D0%B0_%E2%80%94_%D0%A0%D0%B0%D0%B9%D1%88%D0%B0%D1%83%D1%8D%D1%80%D0%B0"
            title="Романизация Маккьюна — Райшауэра">Samsŏng Gurup</a></i>)&nbsp;— <a
        href="/wiki/%D0%A0%D0%B5%D1%81%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%B0_%D0%9A%D0%BE%D1%80%D0%B5%D1%8F"
        title="Республика Корея">южнокорейская</a> группа компаний, один из крупнейших <a
        href="/wiki/%D0%A7%D0%B5%D0%B1%D0%BE%D0%BB%D1%8C" title="Чеболь">чеболей</a>, основанный в <a
        href="/wiki/1938_%D0%B3%D0%BE%D0%B4" title="1938 год">1938 году</a>. На <a
        href="/wiki/%D0%9C%D0%B8%D1%80%D0%BE%D0%B2%D0%BE%D0%B9_%D1%80%D1%8B%D0%BD%D0%BE%D0%BA"
        title="Мировой рынок">мировом рынке</a> известен как производитель <a
        href="/wiki/%D0%92%D1%8B%D1%81%D0%BE%D0%BA%D0%B8%D0%B5_%D1%82%D0%B5%D1%85%D0%BD%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D0%B8"
        title="Высокие технологии">высокотехнологичных компонентов</a>, включая полноцикловое производство <a
        href="/wiki/%D0%98%D0%BD%D1%82%D0%B5%D0%B3%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D0%BC%D0%B8%D0%BA%D1%80%D0%BE%D1%81%D1%85%D0%B5%D0%BC%D0%B0"
        class="mw-redirect" title="Интегральная микросхема">интегральных микросхем</a>, телекоммуникационного
    оборудования, <a href="/wiki/%D0%91%D1%8B%D1%82%D0%BE%D0%B2%D0%B0%D1%8F_%D1%82%D0%B5%D1%85%D0%BD%D0%B8%D0%BA%D0%B0"
        title="Бытовая техника">бытовой техники</a>, аудио- и видеоустройств. Главный офис компании расположен в <a
        href="/wiki/%D0%A1%D0%B5%D1%83%D0%BB" title="Сеул">Сеуле</a>.
</p>
<p>Слово «Самсунг» (<a href="/wiki/%D0%9A%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
        title="Корейский язык">кор.</a> <span lang="ko"
        style="font-size: 110%; font-style: normal; line-height: 0;">삼성<a
            href="/wiki/%D0%A5%D0%B0%D0%BD%D0%B3%D1%8B%D0%BB%D1%8C" title="Хангыль"><sup>?</sup></a></span>, <span
        lang="ko" style="font-size: 110%; font-style: normal; line-height: 0;">三星<a
            href="/wiki/%D0%A5%D0%B0%D0%BD%D1%87%D0%B0" title="Ханча"><sup>?</sup></a></span>, более правильная передача
    слова по <a
        href="/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D0%9A%D0%BE%D0%BD%D1%86%D0%B5%D0%B2%D0%B8%D1%87%D0%B0"
        title="Система Концевича">нормам практической транскрипции</a> [самсон]) в <a
        href="/wiki/%D0%9A%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D1%8F%D0%B7%D1%8B%D0%BA"
        title="Корейский язык">корейском языке</a> означает «три звезды». Возможна связь такого названия с тремя
    сыновьями основателя Samsung <a href="/wiki/%D0%9B%D0%B8_%D0%91%D1%91%D0%BD_%D0%A7%D1%85%D0%BE%D0%BB%D1%8C"
        title="Ли Бён Чхоль">Ли Бён Чхоля</a> (이병철), младший из которых <a
        href="/wiki/%D0%9B%D0%B8_%D0%93%D0%BE%D0%BD_%D0%A5%D0%B8" title="Ли Гон Хи">Ли Гон Хи</a> (иногда его имя
    пишется Ли Кун Хи&nbsp;— калька с английского: Lee Kun-hee) (이건희) возглавил компанию в <a
        href="/wiki/1987_%D0%B3%D0%BE%D0%B4" title="1987 год">1987 году</a> в нарушение всех восточных традиций
    наследования, в согласии с которыми старший сын наследует большую часть семейной собственности<sup id="cite_ref-1"
        class="reference"><a href="#cite_note-1">[1]</a></sup>.
</p>
<p>В <a href="/wiki/1930-%D0%B5" class="mw-redirect" title="1930-е">1930-х годах</a> в Корее предприниматель Ли Бён
    Чхоль открывает своё дело по производству рисовой муки. Небольшой склад в городе <a
        href="/wiki/%D0%A2%D1%8D%D0%B3%D1%83" title="Тэгу">Тэгу</a> становится началом большой истории компании Samsung.
    В это время Корея являлась колонией <a href="/wiki/%D0%AF%D0%BF%D0%BE%D0%BD%D0%B8%D1%8F" title="Япония">Японии</a>,
    и в стране было довольно сложно заниматься <a
        href="/wiki/%D0%9F%D1%80%D0%B5%D0%B4%D0%BF%D1%80%D0%B8%D0%BD%D0%B8%D0%BC%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE"
        title="Предпринимательство">частным предпринимательством</a>. Тем не менее, уже в 1938 году Ли удаётся создать
    первый независимый канал для <a href="/wiki/%D0%AD%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82" title="Экспорт">экспорта</a>
    из Кореи в <a href="/wiki/%D0%9A%D0%B8%D1%82%D0%B0%D0%B9" title="Китай">Китай</a> и <a
        href="/wiki/%D0%9C%D0%B0%D0%BD%D1%8C%D1%87%D0%B6%D1%83%D1%80%D0%B8%D1%8F" title="Маньчжурия">Маньчжурию</a>.
    Активное развитие поставок пищевых продуктов, таких, как <a href="/wiki/%D0%A0%D0%B8%D1%81" title="Рис">рис</a>, <a
        href="/wiki/%D0%A1%D0%B0%D1%85%D0%B0%D1%80" title="Сахар">сахар</a> и сушёная рыба, дало возможность официально
    зарегистрировать <a href="/wiki/%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BD%D1%8B%D0%B9_%D0%B7%D0%BD%D0%B0%D0%BA"
        title="Товарный знак">торговую марку</a> Samsung Trading Company. Иностранное (для Кореи) происхождение названия
    явилось следствием далеко идущих, амбициозных планов корейского предпринимателя: уже к концу <a
        href="/wiki/1950-%D0%B5" class="mw-redirect" title="1950-е">1950-х годов</a> Ли Бён собирался наладить торговлю
    со странами <a href="/wiki/%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B0" title="Америка">Американского континента</a>.
    А после <a href="/wiki/%D0%9A%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%B0%D1%8F_%D0%B2%D0%BE%D0%B9%D0%BD%D0%B0"
        title="Корейская война">высадки войск США</a> на <a
        href="/wiki/%D0%9A%D0%BE%D1%80%D0%B5%D0%B9%D1%81%D0%BA%D0%B8%D0%B9_%D0%BF%D0%BE%D0%BB%D1%83%D0%BE%D1%81%D1%82%D1%80%D0%BE%D0%B2"
        class="mw-redirect" title="Корейский полуостров">Корейском полуострове</a> продукция завода по производству
    рисовой водки и <a href="/wiki/%D0%9F%D0%B8%D0%B2%D0%BE" title="Пиво">пива</a> стала продаваться представителям
    союзных войск. <a href="/wiki/%D0%92%D0%BE%D0%B9%D0%BD%D0%B0_%D0%B2_%D0%9A%D0%BE%D1%80%D0%B5%D0%B5"
        class="mw-redirect" title="Война в Корее">Война в Корее</a> положила конец этому бизнесу. Склады были
    разграблены и сожжены так же, как и основные заводы компании.
</p>
<p>Существует легенда о том, что на развалинах сожжённого дома Ли Бён нашёл спрятанный ящик с деньгами, которые и вложил
    в своё новое дело. Это была <a href="/wiki/%D0%A2%D0%B5%D0%BA%D1%81%D1%82%D0%B8%D0%BB%D1%8C"
        title="Текстиль">текстильная</a> фабрика, сахарный завод, а позднее и страховой бизнес. Ли Бён быстро богател
    при том, что средний доход на душу населения в Корее в <a href="/wiki/1960-%D0%B5" class="mw-redirect"
        title="1960-е">1960-х годах</a> не превышал 80 долларов.<sup id="cite_ref-shh_2-0" class="reference"><a
            href="#cite_note-shh-2">[2]</a></sup> На тот момент даже в столице, Сеуле, не было постоянного
    электричества, электроэнергия подавалась на несколько часов в день, а централизованный водопровод отсутствовал.
    Скорый военный переворот сверг <a href="/wiki/%D0%9B%D0%B8_%D0%A1%D1%8B%D0%BD_%D0%9C%D0%B0%D0%BD" title="">Ли Сын
        Мана</a>, президента и близкого друга Ли Бён, который как богатый предприниматель входил в ближайшее окружение
    опального правителя. Самого Ли Бён Чхоля посадили в тюрьму за взяточничество и близкое знакомство со свергнутым
    президентом.
</p>